
  
h1 {
    color: navy;
    margin-left: 10px;
    font-size: 40px;
    font-family: "Times New Roman", Times, serif;
}
h2 {
    color: black;
    margin-left: 20px;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .card {
    background-color: red; 
    list-style-type: none;
    text-align: center; 
    padding: 0;
    margin: 0;
  }
  
